:root {
  --primary: #4A4E69;
  --primary-l: #8E9AAF;
  
  --secondary: #CBC0D3;
  --secondary-l: #FEEAFA;

  --background: #EFF1FF;

  --text: #23053A;
  --white: #FFFFFF;

  --fs-title: 4rem;
  --fs-text: 2rem;

  --lh-text: 1.5rem;
  --lh-card-title: 3.4rem;

  font-size: 62.5%; /* 1rem = 10px */
  --ff-heading: 'Staatliches', cursive;
  --ff-text: 'Palanquin', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background);
}

.page {
  display: flex;
  flex-direction: column;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: var(--primary);
  min-height: 27.9rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3.2rem 0;
  width: 100%;

  animation: showup 2s;
}

header img {
  width: 13.7rem;
  height: auto;
  margin-bottom: 3.2rem;
}

main {
  padding: 3.2rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

header h1 {
  background-color: var(--secondary);
  width: 100%;
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 2.9rem;
  
  font-size: 4rem;
  
  font-family: var(--ff-heading);
  color: var(--white);
  letter-spacing: 0.5rem;
  font-weight: normal;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  color: var(--text);
  width: 100%;
  max-width: 30.5rem;
  margin: 4.3rem auto 0;
  font-family: var(--ff-text);
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 6.3rem;
}

.card {
  overflow: hidden;
  position: relative;

  animation: topdown 0.5s;
}

.card img {
  border-radius: 2rem;
}

.card span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-size: 2rem;
  line-height: 3.4;
  border-radius: 2rem;
  
  min-width: 11.2rem;
  height: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-l);
  font-family: var(--ff-heading);
  color: var(--primary);

  animation: bottomup 2s;
}

#footer {
  display: none;
}

@media (min-width: 40rem) {

  .page {
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
  }

  main {
    flex: 1;
  }

  header::before {
    width: auto;
  }

  header {
    width: fit-content;
    background-color: var(--primary);
  }

  header p {
    color: var(--white);
    padding: 0 0.5rem;
  }
  
  .card:nth-of-type(1) {
    grid-area: A;
  }

  .card:nth-of-type(2) {
    grid-area: B;
  }

  .card:nth-of-type(3) {
    grid-area: C;
  }

  .card:nth-of-type(4) {
    grid-area: D;
  }


  #footer {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8;
    grid-area: footer;
    color: var(--primary);
    font-family: var(--ff-footer);
  }

  .cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 350px 150px, auto auto auto, 150px 350px 150px;
    grid-template-areas: "A B C" ". D ." ". footer .";
  }

}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes topdown {
  0% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bottomup {
  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}